body{
   position: relative;
}

header{

    li{
        font-size: 20px;
        text-transform: uppercase;
        display: inline-block;
        margin-left: 20px;
    }  
}

h1{
    text-align: center;
}

#color-value{
    text-align: center;
}

.color-button{
    position: relative;
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    margin: 15px 35px;
    
}

.colors{
    position: relative;
    text-align: center;
}

#answer-message{
    position: relative;
    display: block;
    text-align: center;
}
.hero{
    position: relative;
}
.reset-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid green;
}

